@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,300&display=swap');
body{
    width:80%;
    margin: auto;
    font-family: 'Libre Franklin', sans-serif;
}
header{
    text-align: center;
    color: snow;
    background-color: rgba(231, 83, 69, 0.925);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.finished{
    text-decoration: line-through;
}
.flex-container{
    display: flex;
    margin-top:15px;
    justify-content: space-between;
}
h1{
    margin-bottom: 0;
}
main{
    display: flex;
    flex-direction: row;
    border: 5px double rgba(231, 83, 69, 0.925);;
    
}

#app-container{
    vertical-align: top;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#input-container{
    width: 35%;
    margin-left:30px;
    display: inline-block;
}
#todo-list{ 
    width: 392px;
    height: 497px;
    padding: 0;
    list-style-type: none;
    margin-left: 77px;
    overflow:auto;
}
#finished-list{
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0;
    list-style-type: none;
    overflow: auto;
}
#todo-list li,#finished-list li{
    font-size: 15px;
}
#todo-list li{
    text-align: left;
}
#finished-list li{
    margin-bottom: 8px;
}
.todo-check{
    margin-right: 10px;
}

.todo-item-finished{
    text-decoration: line-through;
}


.todo-input{
    width: 30%;
    margin-left: 2px;
    margin-top: 5px;
    margin-right: 35px;
    font-family: 'Libre Franklin', sans-serif;
    outline: 0;
    border-width: 0 0 2px;
    width: 10em;
    transition: border-color 1s ease-out;
}
.todo-input:focus{
    border-bottom-color: rgba(231, 83, 69, 0.925);
}
.todo-button{
    width: 96px;
    margin-right: 75px;
    margin-top: 5px;
    float: right;
    font-family: 'Libre Franklin', sans-serif;
	background-color:rgba(231, 83, 69, 0.925);
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:3px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.todo-button:focus{
    outline-color: white;
}
#error-container{
    text-align: center;
    margin-bottom: 8px;
    margin-top: 10px;
}
#background-container{
    display: inline-block;
    vertical-align: top;
    width: 545px;
    background-image: url("../img/clipboard.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 810px;
}
#todo-list-container{
    padding-top:188px;
    
}
label{
    color: rgba(231, 83, 69, 0.925);
}


.fa-check{
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

.title-finished-task{
    text-align: center;
    margin: 0;
    color: rgba(231, 83, 69, 0.925);
}

.completedBtn{
    font-family: 'Libre Franklin', sans-serif;
	background-color:rgba(231, 83, 69, 0.925);
	border-radius:4px;
	border:0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:3px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.completedBtn:focus{
    outline-style: none;
}


#flipBtn-container{
    text-align: center;
}

/*  Flip card animation */
.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-sizing: border-box;
    width: 100%;
    height: 81%;
    border-radius: 10px;
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }


  .flip-card-front {
    color: black;
    width: 392px;
    height: 497px;
  }
  
  .flip-card-back {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: rotateY(180deg);
    width: 398px;
    height: 499px;
    margin-left: 73px;
    margin-top: 10px;
    
  }
  /* ------------------------------- */